.scroll-list {
  max-width: 100%;
  overflow: scroll;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
  align-content: stretch;
  justify-content: start;
  padding-bottom: 0.5rem;
  scroll-snap-type: x mandatory;
  scroll-padding-inline-start: var(--ez-container-padding);

  &-item {
    display: grid;
    scroll-snap-align: start;

    &:empty {
      display: none;
    }
  }
}

.hidden {
  display: none;
}
