:root {
  --ez-base-light: 255 255 255;
  --ez-base-dark: 0 0 0;
  --ez-green-100: 0 100 102;
  --ez-green-200: 6 90 96;
  --ez-green-300: 11 82 91;
  --ez-green-400: 20 69 82;
  --ez-green-500: 27 58 75;
  --ez-green-600: 33 47 69;
  --ez-violet-100: 77 25 77;
  --ez-violet-200: 62 31 71;
  --ez-violet-300: 49 34 68;
  --ez-violet-400: 39 38 64;
}
