.font-small {
  font-size: 0.8rem;
}

.font-title {
  font-size: 1.2rem;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-pale {
  color: rgb(var(--ez-green-500) / 0.8);
}
