:host {
  display: contents;
}

.card {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: min-content;
  padding-bottom: 0.5rem;
}

.image-wrapper {
  overflow: hidden;
  border-radius: 0.6rem;
}

.additional-info {
  padding: 0 1rem;
  color: rgb(var(--ez-green-400));
}
