<a routerLink="../" class="container link link--back font-title"
  >Back to main</a
>
<section *ngIf="credits?.cast?.length">
  <h2 class="container">Cast</h2>
  <ul class="container scroll-list">
    <li
      class="scroll-list-item"
      *ngFor="let person of credits?.cast; trackBy: trackPerson">
      <ez-person-card [person]="person">
        <ng-container ngProjectAs="role"> {{ person.character }}</ng-container>
      </ez-person-card>
    </li>
  </ul>
</section>
<section *ngIf="credits?.crew?.length">
  <h2 class="container">Crew</h2>
  <ul class="container scroll-list">
    <li
      class="scroll-list-item"
      *ngFor="let person of credits?.crew; trackBy: trackPerson">
      <ez-person-card [person]="person">
        <ng-container ngProjectAs="role"
          >{{ person.department }}: {{ person.jobs.join(', ') }}</ng-container
        >
      </ez-person-card>
    </li>
  </ul>
</section>
