.details {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  align-items: start;
  justify-items: center;
}

.description {
  display: grid;
  grid-gap: 1rem;
}
// todo: duplicated styles
