<a routerLink="/" class="container back-link">Back to all categories</a>
<ng-container *ngIf="person$ | async as person">
  <section class="container details">
    <div>
      <ez-image
        [path]="person.profile_path"
        type="profile"
        [width]="300"></ez-image>
    </div>
    <div class="description">
      <h1>{{ person.name }}</h1>
      <p class="font-pale font-small">
        Birthday: {{ person.birthday | date : 'shortDate' }}
      </p>
      <p class="genres font-small" *ngIf="person.known_for_department">
        Departments:
        {{ person.known_for_department }}
      </p>
      <p class="font-500">Biography</p>
      <p>{{ person.biography }}</p>
    </div>
  </section>
  <section>
    <h2 class="container">Known For | Cast</h2>
    <ul class="container scroll-list">
      <li class="scroll-list-item" *ngFor="let item of cast$ | async">
        <ez-movie-card *ngIf="item.media_type === 'movie'" [movie]="item">
          <ng-container ngProjectAs="role">{{ item.character }}</ng-container>
        </ez-movie-card>
        <ez-series-card *ngIf="item.media_type === 'tv'" [series]="item">
          <ng-container ngProjectAs="role">{{ item.character }}</ng-container>
        </ez-series-card>
      </li>
    </ul>
  </section>
  <section>
    <h2 class="container">Known For | Crew</h2>
    <ul class="container scroll-list">
      <li class="scroll-list-item" *ngFor="let item of crew$ | async">
        <ez-movie-card *ngIf="item.media_type === 'movie'" [movie]="item">
          <ng-container ngProjectAs="role"
            >{{ item.department }}: {{ item.job }}</ng-container
          >
        </ez-movie-card>
        <ez-series-card *ngIf="item.media_type === 'tv'" [series]="item">
          <ng-container ngProjectAs="role"
            >{{ item.department }}: {{ item.job }}</ng-container
          >
        </ez-series-card>
      </li>
    </ul>
  </section>
</ng-container>

<!-- The person details page must show
  the biography,
  date of birth,
  and what the person is known for.
  The page should also have a list of movies or TV series
  where the person took part with their respective roles. -->
