.page-grid {
  display: grid;
  grid-row-gap: 2rem;
  grid-template-columns: minmax(0, 1fr);
}

.list {
  max-width: 100%;
  overflow: scroll;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
  align-content: stretch;
  scroll-snap-type: x mandatory;
  scroll-padding-inline-start: var(--container-padding);

  &-item {
    display: grid;
    scroll-snap-align: start;

    &:empty {
      display: none;
    }
  }
}
