<div class="page-grid" *ngIf="imagesConfig$ | async as config">
  <section>
    <h2 class="container">Trending Category</h2>
    <ul class="container list">
      <li
        class="list-item"
        *ngFor="let item of trendingContent$ | async; trackBy: trackCategory">
        <ez-movie-card
          *ngIf="item.media_type === 'movie'"
          [movie]="item"
          [config]="config"></ez-movie-card>
        <ez-series-card
          *ngIf="item.media_type === 'tv'"
          [series]="item"
          [config]="config"></ez-series-card>
      </li>
    </ul>
  </section>
</div>
