<ng-container *ngIf="details$ | async as details">
  <ez-details-section
    [title]="details.title"
    [genres]="details.genres"
    [date]="details.release_date"
    [overview]="details.overview">
    <ez-image
      [path]="details.poster_path"
      type="poster"
      [width]="300"
      [title]="details.title"></ez-image>
  </ez-details-section>
  <section>
    <h2 class="container">Cast</h2>
    <ul class="container scroll-list">
      <li class="scroll-list-item" *ngFor="let person of cast$ | async">
        <ez-person-card [person]="person"></ez-person-card>
      </li>
    </ul>
  </section>
  <section>
    <h2 class="container">Crew</h2>
    <ul class="container scroll-list">
      <li class="scroll-list-item" *ngFor="let person of crew$ | async">
        <ez-person-card [person]="person"></ez-person-card>
      </li>
    </ul>
  </section>
</ng-container>

<!-- title,
  description,
  release date,
  genres,
  list of actors (cast),
  and crew of the selected movie.
  Users should also be able to rate the movie from the same page.
 -->
