<article class="card" *ngIf="person">
  <!-- <ez-image
    [path]="movie.profile_path"
    type="poster"
    [width]="180"
    [title]="movie.title"></ez-image> -->
  <img
    class="image"
    *ngIf="config"
    [src]="
      person.profile_path
        | imageSource
          : config.secure_base_url
          : config.poster_sizes
          : imageWidth
    "
    [srcset]="
      (person.profile_path
        | imageSource
          : config.secure_base_url
          : config.poster_sizes
          : imageWidth) +
      ' 1x, ' +
      (person.profile_path
        | imageSource
          : config.secure_base_url
          : config.poster_sizes
          : imageWidth * 2) +
      ' 2x'
    "
    [width]="imageWidth"
    [height]="imageWidth * aspectRatio"
    [alt]="person.name" />
  <div class="details">
    <h3>{{ person.name }}</h3>
    <p class="font-pale font-small">
      {{ person.known_for_department }}
    </p>
    <p class="rating">{{ person.popularity | number : '1.0-1' }}</p>
  </div>
</article>
