:host {
  min-height: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr auto;
}

.header {
  padding: 1rem var(--ez-container-padding);
  background-color: rgb(var(--ez-green-400) / 0.2);

  &__logo {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  &__nav {
    display: flex;
    gap: 1.2rem;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
  }
}

.nav-link {
  position: relative;
  overflow: hidden;
  padding: 0.2em;

  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid rgb(var(--ez-green-600));
    transform: translateX(-100%);
    transition: transform 0.3s;
    content: '';
  }

  &:hover::before {
    transform: translateX(0);
  }
}

.footer {
  padding-top: 1rem;
  background-color: rgb(var(--ez-green-400) / 0.2);
}
