<article class="card" *ngIf="series">
  <!-- <ez-image
    [path]="movie.poster_path"
    type="poster"
    [width]="180"
    [title]="movie.title"></ez-image> -->
  <img
    class="image"
    *ngIf="config"
    [src]="
      series.poster_path
        | imageSource
          : config.secure_base_url
          : config.poster_sizes
          : imageWidth
    "
    [srcset]="
      (series.poster_path
        | imageSource
          : config.secure_base_url
          : config.poster_sizes
          : imageWidth) +
      ' 1x, ' +
      (series.poster_path
        | imageSource
          : config.secure_base_url
          : config.poster_sizes
          : imageWidth * 2) +
      ' 2x'
    "
    [width]="imageWidth"
    [height]="imageWidth * aspectRatio"
    [alt]="series.name" />
  <div class="details">
    <h3>{{ series.name }}</h3>
    <p class="font-pale font-small">
      {{ series.first_air_date | date : 'mediumDate' }}
    </p>
    <p class="rating">{{ series.vote_average | number : '1.0-1' }}</p>
  </div>
</article>
