<article class="movie-card" *ngIf="movie">
  <img
    class="image"
    *ngIf="config"
    [src]="
      movie.poster_path
        | imageSource
          : config.secure_base_url
          : config.poster_sizes
          : imageWidth
    "
    [srcset]="
      config.secure_base_url +
      config.poster_sizes[2] +
      movie.poster_path +
      ' ' +
      config.poster_sizes[2].slice(1) +
      'w, ' +
      config.secure_base_url +
      config.poster_sizes[3] +
      movie.poster_path +
      ' ' +
      config.poster_sizes[3].slice(1) +
      'w'
    "
    [width]="imageWidth"
    [height]="imageWidth * aspectRatio"
    [alt]="movie.title" /><!-- todo: pipe for srcset -->
  <div class="details">
    <h3>{{ movie.title }}</h3>
    <p class="font-pale font-small">
      {{ movie.release_date | date : 'mediumDate' }}
    </p>
    <p class="rating">{{ movie.vote_average | number : '1.0-1' }}</p>
  </div>
</article>
