<article class="movie-card" *ngIf="movie">
  <img
    class="image"
    *ngIf="config"
    [src]="
      movie.poster_path
        | imageSource
          : config.secure_base_url
          : config.poster_sizes
          : imageWidth
    "
    [srcset]="
      (movie.poster_path
        | imageSource
          : config.secure_base_url
          : config.poster_sizes
          : imageWidth) +
      ' 1x, ' +
      (movie.poster_path
        | imageSource
          : config.secure_base_url
          : config.poster_sizes
          : imageWidth * 2) +
      ' 2x'
    "
    [width]="imageWidth"
    [height]="imageWidth * aspectRatio"
    [alt]="movie.title" /><!-- todo: pipe for srcset -->
  <div class="details">
    <h3>{{ movie.title }}</h3>
    <p class="font-pale font-small">
      {{ movie.release_date | date : 'mediumDate' }}
    </p>
    <p class="rating">{{ movie.vote_average | number : '1.0-1' }}</p>
  </div>
</article>
